/* Rules for all web pages */
body {
  background-color: rgb(236, 255, 200);
  padding: 10px;
}
h1, h2, h3 {
  margin: 0px;
  background-color: rgb(199, 198, 255);
  padding: 10px;
}
p {
  background-color: hsl(120,80%,90%); /*lighter lightgreen*/
  padding: 0px 20px;
  text-align: justify;
}
aside {
      float: right;
}
    
    ol {
      margin-right: 20px;
}
    footer {
      margin-left: 20px;
}
    #remove-line-above {
      margin-top: -1em;
}
ul {
      margin-left: 20px;
      list-style-type: circle;
}